
# OSX 
.DS_Store

# VS Code
.vscode

# Python class files
*.pyc

# Python virtualenv
/bin
/include
/lib
.Python
pip-selfcheck.json

# External protocol buffer files
*.proto

# Protocol buffer compiled files
*_pb2.py

# Credentials
config.txt